@{
    ViewBag.Title = "Crear Empleado";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empleado"><i>MODULO EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Empleado"><i>EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CREAR EMPLEADO</label>
    <hr />
</h7>

<div>
    <label style="margin-top:10px"><strong>DATOS PERSONALES</strong></label>
    <table class="table table-borderless" style="width:100%">
        <tr>
            <td>
                <label><strong>Nombres</strong></label>
                <input class="form-control" type="text" id="InputNombreEmpleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Apellidos</strong></label>
                <input class="form-control" type="text" id="InputApellidoEmpleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Tipo Documento</strong></label>
                <select class="form-control" id="SelectTipoDocumento"></select>
            </td>
            <td>
                <label><strong>Identificación</strong></label>
                <input class="form-control" type="text" id="InputIdentificacionEmpleado" name="name" autocomplete="off" />
            </td>
        </tr>
        @*<tr>
            <td>
                <label><strong>Nacionalidad</strong></label>
                <select class="form-control" id="SelectPaisNacionalidad"></select>
            </td>
            <td>
                <label><strong>Fecha Nacimiento</strong></label>
                <input class="form-control" type="date" id="InputFechaNacimientoEmpleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Lugar Nacimiento</strong></label>
                <input class="form-control" type="text" id="InputLugarNacimientoEmpleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Sexo</strong></label>
                <select class="form-control" id="SelectSexoEmpleado">
                    <option value="0">Seleccione Opción</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label><strong>Estado Civil</strong></label>
                <select class="form-control" id="SelectEstadoCivil">
                    <option value="0">Seleccione Opción</option>
                    <option value="1">Soltero(a)</option>
                    <option value="2">Unión Libre</option>
                    <option value="3">Casado(a)</option>
                    <option value="4">Separado(a)</option>
                    <option value="5">Viudo(a)</option>
                </select>
            </td>
            <td>
                <label><strong>Email</strong></label>
                <input class="form-control" type="text" id="InputEmailEmpleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Teléfono 1</strong></label>
                <input class="form-control" type="text" id="InputTelefono1Empleado" name="name" autocomplete="off" />
            </td>
            <td>
                <label><strong>Teléfono 2</strong></label>
                <input class="form-control" type="text" id="InputTelefono2Empleado" name="name" autocomplete="off" />
            </td>
        </tr>*@
    </table>
</div>

@*<div style="margin-top:20px" class="">
    <label style="margin-top:10px"><strong>DATOS RESIDENCIA</strong></label>
    <table class="table table-borderless">
        <tr>
            <td width="25%">
                <label><strong>País</strong></label>
                <select class="form-control" id="SelectPais" onchange="BuscarDeptoIdPais('N',$('#SelectPais').val())"></select>
            </td>
            <td width="25%">
                <label><strong>Departamento</strong></label>
                <select class="form-control" id="SelectDepartamento" onchange="BuscarCiudadIdDepartamento('N',$('#SelectDepartamento').val())"></select>
            </td>
            <td width="25%">
                <label><strong>Ciudad</strong></label>
                <select class="form-control" id="SelectCiudad"></select>
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <input class="form-control" type="text" id="InputDireccionEmpresa" name="name" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>Tipo Vivienda</strong></label>
                <select class="form-control" id="SelectTipoVivienda">
                    <option value="0">Seleccione Opción</option>
                    <option value="1">Propia</option>
                    <option value="2">Familiar</option>
                    <option value="3">Alquilada</option>
                </select>
            </td>
            <td width="25%">
                <label><strong>Nombre Arrendador</strong></label>
                <input class="form-control" type="text" id="InputNombreArrendador" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Teléfono Arrendador</strong></label>
                <input class="form-control" type="text" id="InputTelefonoArrendador" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Tiempo Residiendo</strong></label>
                <input class="form-control" type="text" id="InputDireccionEmpresa" name="name" autocomplete="off" />
            </td>
        </tr>
    </table>
</div>*@


@*<div class="">
        <label><strong>INFORMACION FAMILIAR</strong></label>
        <table class="table table-borderless">
            <tr>
                <td>
                    <label><strong>Nombres Cónyuge</strong></label>
                    <input class="form-control" type="text" id="InputNombreConyugeEmpleado" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos Cónyuge</strong></label>
                    <input class="form-control" type="text" id="InputApellidoConyugeEmpleado" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Profesión</strong></label>
                    <input class="form-control" type="text" id="InputNombreConyugeEmpleado" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Teléfono</strong></label>
                    <input class="form-control" type="text" id="InputTelefonoConyugeEmpleado" name="name" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>1. Hijo Nombres</strong></label>
                    <input class="form-control" type="text" id="InputNombreHijoEmpleado1" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos</strong></label>
                    <input class="form-control" type="text" id="InputApellidoHijoEmpleado1" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Fecha Nacimiento</strong></label>
                    <input class="form-control" type="date" id="InputFechaNacimientoHijoEmpleado1" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Sexo</strong></label>
                    <select class="form-control" id="SelectSexoHijoEmpleado1">
                        <option value="0">Seleccione Opción</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>2. Hijo Nombres</strong></label>
                    <input class="form-control" type="text" id="InputNombreHijoEmpleado2" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos</strong></label>
                    <input class="form-control" type="text" id="InputApellidoHijoEmpleado2" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Fecha Nacimiento</strong></label>
                    <input class="form-control" type="date" id="InputFechaNacimientoHijoEmpleado2" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Sexo</strong></label>
                    <select class="form-control" id="SelectSexoHijoEmpleado2">
                        <option value="0">Seleccione Opción</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>3. Hijo Nombres</strong></label>
                    <input class="form-control" type="text" id="InputNombreHijoEmpleado3" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos</strong></label>
                    <input class="form-control" type="text" id="InputApellidoHijoEmpleado3" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Fecha Nacimiento</strong></label>
                    <input class="form-control" type="date" id="InputFechaNacimientoHijoEmpleado3" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Sexo</strong></label>
                    <select class="form-control" id="SelectSexoHijoEmpleado3">
                        <option value="0">Seleccione Opción</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>4. Hijo Nombres</strong></label>
                    <input class="form-control" type="text" id="InputNombreHijoEmpleado4" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos</strong></label>
                    <input class="form-control" type="text" id="InputApellidoHijoEmpleado4" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Fecha Nacimiento</strong></label>
                    <input class="form-control" type="date" id="InputFechaNacimientoHijoEmpleado4" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Sexo</strong></label>
                    <select class="form-control" id="SelectSexoHijoEmpleado4">
                        <option value="0">Seleccione Opción</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>5. Hijo Nombres</strong></label>
                    <input class="form-control" type="text" id="InputNombreHijoEmpleado5" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Apellidos</strong></label>
                    <input class="form-control" type="text" id="InputApellidoHijoEmpleado5" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Fecha Nacimiento</strong></label>
                    <input class="form-control" type="date" id="InputFechaNacimientoHijoEmpleado5" name="name" autocomplete="off" />
                </td>
                <td>
                    <label><strong>Sexo</strong></label>
                    <select class="form-control" id="SelectSexoHijoEmpleado5">
                        <option value="0">Seleccione Opción</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>*@

@*<div style="margin-top:20px" class="">
    <label style="margin-top:10px"><strong>REFERENCIAS FAMILIARES</strong></label>
    <table class="table table-borderless">
        <tr>
            <td width="25%">
                <label><strong>Nombre y Apellidos</strong></label>
                <input class="form-control" type="text" id="InputNombreReferenciaFamiliar1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Parentesco</strong></label>
                <input class="form-control" type="text" id="InputParentescoReferenciaFamiliar1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <input class="form-control" type="text" id="InputTelefonoReferenciaFamiliar1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <input class="form-control" type="text" id="InputProfesionReferenciaFamiliar1" name="name" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>Nombre y Apellidos</strong></label>
                <input class="form-control" type="text" id="InputNombreReferenciaFamiliar2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Parentesco</strong></label>
                <input class="form-control" type="text" id="InputParentescoReferenciaFamiliar2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <input class="form-control" type="text" id="InputTelefonoReferenciaFamiliar2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <input class="form-control" type="text" id="InputProfesionReferenciaFamiliar2" name="name" autocomplete="off" />
            </td>
        </tr>
    </table>
</div>*@

@*<div style="margin-top:20px" class="">
    <label style="margin-top:10px"><strong>REFERENCIAS PERSONALES</strong></label>
    <table class="table table-borderless">
        <tr>
            <td width="25%">
                <label><strong>Nombre y Apellidos</strong></label>
                <input class="form-control" type="text" id="InputNombreReferenciaPersonal1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <input class="form-control" type="text" id="InputDireccionReferenciaPersonal1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <input class="form-control" type="text" id="InputTelefonoReferenciaPersonal1" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <input class="form-control" type="text" id="InputProfesionReferenciaPersonal1" name="name" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>Nombre y Apellidos</strong></label>
                <input class="form-control" type="text" id="InputNombreReferenciaPersonal2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <input class="form-control" type="text" id="InputDireccionReferenciaPersonal2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <input class="form-control" type="text" id="InputTelefonoReferenciaPersonal2" name="name" autocomplete="off" />
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <input class="form-control" type="text" id="InputProfesionReferenciaPersonal2" name="name" autocomplete="off" />
            </td>
        </tr>
    </table>
</div>*@



<table class="table table-borderless">
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearEmpleado()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        ListaTipoDocumento('N');
        //ListaPais('N');
        //ListaPaisNacionalidad('N');
        //ListaTipoGenero('N');
    });
</script>

