@{
    ViewBag.Title = "Hoja Vida Empleado";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empleado"><i>MODULO EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Empleado"><i>EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">HOJA VIDA EMPLEADO</label>
    <hr />
</h7>

<button class="btn-outline-success"></button>

<table class=" table table-borderless" style="min-width:100%">
    <tr style="min-width:100%">
        <td style="width:33%">
            <strong>Nombre: </strong><label id="LabelNombreEmpleado" style="font-size:15px; font-weight:bold"></label>
            <br />
            <strong>Identificación: </strong><label id="LabelDocumentoIdentificacion"></label>
            <br />
            <br />
            <ul>
                <li><a href="#">Cambiar Foto hoja Vida</a></li>
                <li><a href="javascript:CargarDatosPerfilprofesional()">Perfil Profesional</a></li>
                <li><a href="javascript:CargarDatosPersonales()">Información Personal</a></li>
                <li><a href="javascript:CargarDatosResidencia()">Información Residencia</a></li>
                <li><a href="javascript:CargarDatosEstudiosRealizados()">Estudios Realizados</a></li>
                <li><a href="javascript:CargarDatosExperienciaLaboral()">Experiencia Laboral</a></li>
                <li><a href="javascript:CargarDatosFamilia()">Información Familiar</a></li>
                <li><a href="javascript:CargarDatosRFEmpleado()">Referencias Familiares</a></li>
                <li><a href="javascript:DescargarHojaVida()">Descargar Hoja de Vida</a></li>
            </ul>
        </td>
        <td style="width:46%">
            <strong><label>PERFIL PROFESIONAL</label></strong>
            <br />
            <br />
            <P style="text-align:justify">Es un ser capaz de proponer soluciones a problemas en pequeña y gran escala. Su formación, le permite, también, ser líder en temas tecnológicos y científicos. Formular propuestas para la solución de problemas reales mediante el uso de la tecnologías y las matemáticas aplicadas.</P>
        </td>
        <td style="width:20%;text-align:center">
            <img src="~/Sources/ImagesHojaVidaEmpleado/Usuario.png" class="" style="height:150px">
        </td>

    </tr>
</table>
<strong><label>INFORMACION PERSONAL</label></strong>
<table class="table table-borderless" style="width:100%">
    <tr>
        <td width="25%">
            <label><strong>Nacionalidad</strong></label>
            <br />
            <Label id="InputHVNacionalidad"></Label>
        </td>
        <td width="25%">
            <label><strong>Fecha Nacimiento</strong></label>
            <br />
            <Label id="InputHVFechaNacimiento"></Label>
        </td>
        <td>
            <label><strong>Lugar Nacimiento</strong></label>
            <br />
            <Label id="InputHVLugarNacimiento"></Label>
        </td>
        <td width="25%">
            <label><strong>Sexo</strong></label>
            <br />
            <Label id="InputHVSexo"></Label>
        </td>
    </tr>
    <tr>
        <td width="25%">
            <label><strong>Estado Civil</strong></label>
            <br />
            <Label id="InputHVEstadoCivil"></Label>
        </td>
        <td width="25%">
            <label><strong>Email</strong></label>
            <br />
            <Label id="InputHVEmail"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono 1</strong></label>
            <br />
            <Label id="InputHVTelefono1"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono 2</strong></label>
            <br />
            <Label id="InputHVTelefono2"></Label>
        </td>
    </tr>
</table>
<label><strong>INFORMACION RESIDENCIA</strong></label>
<table class="table table-borderless" style="width:100%">
    <tr>
        <td width="25%">
            <label><strong>País</strong></label>
            <br />
            <Label id="InputHVPaisResidencia"></Label>
        </td>
        <td width="25%">
            <label><strong>Departamento</strong></label>
            <br />
            <Label id="InputHVDepartamentoResidencia"></Label>
        </td>
        <td width="25%">
            <label><strong>Ciudad</strong></label>
            <br />
            <Label id="InputHVCiudadResidencia"></Label>
        </td>
        <td width="25%">
            <label><strong>Dirección</strong></label>
            <br />
            <Label id="InputHVDireccionResidencia"></Label>
        </td>
    </tr>
    <tr>
        <td width="25%">
            <label><strong>Tipo Vivienda</strong></label>
            <br />
            <Label id="InputHVTipoVivienda"></Label>
        </td>
        <td width="25%">
            <label><strong>Nombre Arrendador</strong></label>
            <br />
            <Label id="InputHVNombreArrendador"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono Arrendador</strong></label>
            <br />
            <Label id="InputHVTelefonoArrendador"></Label>
        </td>
        <td width="25%">
            <label><strong>Tiempo Residiendo</strong></label>
            <br />
            <Label id="InputHVTiempoResidiendo"></Label>
        </td>
    </tr>
</table>
<label><strong>REFERENCIAS FAMILIARES</strong></label>
<table class="table table-borderless" style="width:100%">
    <tr>
        <td width="25%">
            <label><strong>1. Nombre y Apellidos</strong></label>
            <br />
            <Label id="InputHVNombreRF1"></Label>
        </td>
        <td width="25%">
            <label><strong>Parentesco</strong></label>
            <br />
            <Label id="InputHVParentescoRF1"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono</strong></label>
            <br />
            <Label id="InputHVTelefonoRF1"></Label>
        </td>
        <td width="25%">
            <label><strong>Profesión</strong></label>
            <br />
            <Label id="InputHVProfesionRF1"></Label>
        </td>
    </tr>
    <tr>
        <td width="25%">
            <label><strong>2. Nombre y Apellidos</strong></label>
            <br />
            <Label id="InputHVNombreRF2"></Label>
        </td>
        <td width="25%">
            <label><strong>Parentesco</strong></label>
            <br />
            <Label id="InputHVParentescoRF2"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono</strong></label>
            <br />
            <Label id="InputHVTelefonoRF2"></Label>
        </td>
        <td width="25%">
            <label><strong>Profesión</strong></label>
            <br />
            <Label id="InputHVProfesionRF2"></Label>
        </td>
    </tr>
</table>
<label><strong>REFERENCIAS PERSONALES</strong></label>
<table class="table table-borderless" style="width:100%">
    <tr>
        <td width="25%">
            <label><strong>1. Nombre y Apellidos</strong></label>
            <br />
            <Label id="InputHVNombreRP1"></Label>
        </td>
        <td width="25%">
            <label><strong>Dirección</strong></label>
            <br />
            <Label id="InputHVDireccionRP1"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono</strong></label>
            <br />
            <Label id="InputHVTelefonoRP1"></Label>
        </td>
        <td width="25%">
            <label><strong>Profesión</strong></label>
            <br />
            <Label id="InputHVProfesionRP1"></Label>
        </td>
    </tr>
    <tr>
        <td width="25%">
            <label><strong>2. Nombre y Apellidos</strong></label>
            <br />
            <Label id="InputHVNombreRP2"></Label>
        </td>
        <td width="25%">
            <label><strong>Dirección</strong></label>
            <br />
            <Label id="InputHVDireccionRP2"></Label>
        </td>
        <td width="25%">
            <label><strong>Teléfono</strong></label>
            <br />
            <Label id="InputHVTelefonoRP2"></Label>
        </td>
        <td width="25%">
            <label><strong>Profesión</strong></label>
            <br />
            <Label id="InputHVProfesionRP2"></Label>
        </td>
    </tr>
</table>

@*Modal Datos Personales*@
<div class="modal fade" id="ModalDatosPersonalesEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Información Personal</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>Nacionalidad</strong></label>
                            <select class="form-control" id="SelectPaisNacionalidad"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Fecha Nacimiento</strong></label>
                            <input class="form-control" type="date" id="InputFechaNacimientoEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Lugar Nacimiento</strong></label>
                            <input class="form-control" type="text" id="InputLugarNacimientoEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Sexo</strong></label>
                            <select class="form-control" id="SelectSexoEmpleado"></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>Estado Civil</strong></label>
                            <select class="form-control" id="SelectTipoEstadoCivil"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Email</strong></label>
                            <input class="form-control" type="text" id="InputEmailEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono 1</strong></label>
                            <input class="form-control" type="text" id="InputTelefono1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono 2</strong></label>
                            <input class="form-control" type="text" id="InputTelefono2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosDatosPersonales()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
@*Modal Datos Residencia*@
<div class="modal fade" id="ModalDatosResidenciaEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Información Residencia</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>País</strong></label>
                            <select class="form-control" id="SelectPais" onchange="BuscarDeptoIdPais('N',$('#SelectPais').val())"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Departamento</strong></label>
                            <select class="form-control" id="SelectDepartamento" onchange="BuscarCiudadIdDepartamento('N',$('#SelectDepartamento').val())"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Ciudad</strong></label>
                            <select class="form-control" id="SelectCiudad"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionEmpleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>Tipo Vivienda</strong></label>
                            <select class="form-control" id="SelectTipoVivienda"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Nombre Arrendador</strong></label>
                            <input class="form-control" type="text" id="InputNombreArrendador" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono Arrendador</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoArrendador" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Tiempo Residiendo</strong></label>
                            <input class="form-control" type="text" id="InputTiempoResidiendo" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosDatosResidencia()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
@*Modal referencias Familiares*@
<div class="modal fade" id="ModalDatosRFEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Referencias Familiares</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>1. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Parentesco</strong></label>
                            <input class="form-control" type="text" id="InputParentescoRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRF1Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>2. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Parentesco</strong></label>
                            <input class="form-control" type="text" id="InputParentescoRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRF2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosRFEmpleado()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
@*Modal referencias Personales*@
<div class="modal fade" id="ModalDatosRPEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Referencias Personales</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>1. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRP1Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>2. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRP2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosRPEmpleado()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CargarDatosHVEmpleado();
        CargarDatosCabeceraEmpleado();
        ListaPais('N');
        ListaDepartamento('N');
        ListaCiudad('N');
        ListaPaisNacionalidad('N');
        ListaTipoGeneroEmpleado('N');
        ListaTipoEstadoCivil('N');
        ListaTipoVivienda('N');
    });
</script>