@{
    ViewBag.Title = "Hoja Vida Empleado";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empleado"><i>MODULO EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Empleado"><i>EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">HOJA VIDA EMPLEADO</label>
    <hr />
</h7>
<div style="margin-top:50px">
    <img src="~/Sources/ImagesHojaVidaEmpleado/Usuario.png" class="imagenhv">
    <div id="ImagePerfilUsuario"></div>
</div>

<div class="Centrar-Texto">
    <a href="#">Cambiar Foto</a>
</div>


<div style="text-align:center; margin-top:20px; color:cornflowerblue">
    <label style="font-size:25px!important;font-weight:bold"><i id="LabelNombreEmpleado"></i></label>
    <br />
    <label style="font-size:18px!important;font-weight:bold"><i id="LabelDocumentoIdentificacion"></i></label>
</div>

<div style="margin-top:50px;" class="seccionhv">
    <label><strong>INFORMACION PERSONAL</strong><a href="#" title="Editar" onclick="CargarDatosPersonales()"><i class="bi-pencil-fill" style="Color:orange; margin-left:20px"></i></a></label>
    <table class="table table-borderless" style="width:100%">
        <tr>
            <td width="25%">
                <label><strong>Nacionalidad</strong></label>
                <br />
                <Label id="InputHVNacionalidad"></Label>
            </td>
            <td width="25%">
                <label><strong>Fecha Nacimiento</strong></label>
                <br />
                <Label id="InputHVFechaNacimiento"></Label>
            </td>
            <td>
                <label><strong>Lugar Nacimiento</strong></label>
                <br />
                <Label id="InputHVLugarNacimiento"></Label>
            </td>
            <td width="25%">
                <label><strong>Sexo</strong></label>
                <br />
                <Label id="InputHVSexo"></Label>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>Estado Civil</strong></label>
                <br />
                <Label id="InputHVEstadoCivil"></Label>
            </td>
            <td width="25%">
                <label><strong>Email</strong></label>
                <br />
                <Label id="InputHVEmail"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono 1</strong></label>
                <br />
                <Label id="InputHVTelefono1"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono 2</strong></label>
                <br />
                <Label id="InputHVTelefono2"></Label>
            </td>
        </tr>
    </table>
</div>

<div class="seccionhv">
    <label><strong>INFORMACION RESIDENCIA</strong><a href="#" title="Editar" onclick="CargarDatosResidencia()"><i class="bi-pencil-fill" style="Color:orange; margin-left:20px"></i></a></label>
    <table class="table table-borderless" style="width:100%">
        <tr>
            <td width="25%">
                <label><strong>País</strong></label>
                <br />
                <Label id="InputHVPaisResidencia"></Label>
            </td>
            <td width="25%">
                <label><strong>Departamento</strong></label>
                <br />
                <Label id="InputHVDepartamentoResidencia"></Label>
            </td>
            <td width="25%">
                <label><strong>Ciudad</strong></label>
                <br />
                <Label id="InputHVCiudadResidencia"></Label>
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <br />
                <Label id="InputHVDireccionResidencia"></Label>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>Tipo Vivienda</strong></label>
                <br />
                <Label id="InputHVTipoVivienda"></Label>
            </td>
            <td width="25%">
                <label><strong>Nombre Arrendador</strong></label>
                <br />
                <Label id="InputHVNombreArrendador"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono Arrendador</strong></label>
                <br />
                <Label id="InputHVTelefonoArrendador"></Label>
            </td>
            <td width="25%">
                <label><strong>Tiempo Residiendo</strong></label>
                <br />
                <Label id="InputHVTiempoResidiendo"></Label>
            </td>
        </tr>
    </table>
</div>

<div class="seccionhv">
    <label><strong>REFERENCIAS FAMILIARES</strong><a href="#" title="Editar" onclick="CargarDatosRFEmpleado()"><i class="bi-pencil-fill" style="Color:orange; margin-left:20px"></i></a></label>
    <table class="table table-borderless" style="width:100%">
        <tr>
            <td width="25%">
                <label><strong>1. Nombre y Apellidos</strong></label>
                <br />
                <Label id="InputHVNombreRF1"></Label>
            </td>
            <td width="25%">
                <label><strong>Parentesco</strong></label>
                <br />
                <Label id="InputHVParentescoRF1"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <br />
                <Label id="InputHVTelefonoRF1"></Label>
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <br />
                <Label id="InputHVProfesionRF1"></Label>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>2. Nombre y Apellidos</strong></label>
                <br />
                <Label id="InputHVNombreRF2"></Label>
            </td>
            <td width="25%">
                <label><strong>Parentesco</strong></label>
                <br />
                <Label id="InputHVParentescoRF2"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <br />
                <Label id="InputHVTelefonoRF2"></Label>
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <br />
                <Label id="InputHVProfesionRF2"></Label>
            </td>
        </tr>
    </table>
</div>

<div class="seccionhv">
    <label><strong><u>REFERENCIAS PERSONALES</u></strong><a href="#" title="Editar" onclick="CargarDatosRPEmpleado()"><i class="bi-pencil-fill" style="Color:orange; margin-left:20px"></i></a></label>
    <table class="table table-borderless" style="width:100%">
        <tr>
            <td width="25%">
                <label><strong>1. Nombre y Apellidos</strong></label>
                <br />
                <Label id="InputHVNombreRP1"></Label>
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <br />
                <Label id="InputHVDireccionRP1"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <br />
                <Label id="InputHVTelefonoRP1"></Label>
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <br />
                <Label id="InputHVProfesionRP1"></Label>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label><strong>2. Nombre y Apellidos</strong></label>
                <br />
                <Label id="InputHVNombreRP2"></Label>
            </td>
            <td width="25%">
                <label><strong>Dirección</strong></label>
                <br />
                <Label id="InputHVDireccionRP2"></Label>
            </td>
            <td width="25%">
                <label><strong>Teléfono</strong></label>
                <br />
                <Label id="InputHVTelefonoRP2"></Label>
            </td>
            <td width="25%">
                <label><strong>Profesión</strong></label>
                <br />
                <Label id="InputHVProfesionRP2"></Label>
            </td>
        </tr>
    </table>
</div>


@*Modal Datos Personales*@
<div class="modal fade" id="ModalDatosPersonalesEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Información Personal</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>Nacionalidad</strong></label>
                            <select class="form-control" id="SelectPaisNacionalidad"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Fecha Nacimiento</strong></label>
                            <input class="form-control" type="date" id="InputFechaNacimientoEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Lugar Nacimiento</strong></label>
                            <input class="form-control" type="text" id="InputLugarNacimientoEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Sexo</strong></label>
                            <select class="form-control" id="SelectSexoEmpleado"></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>Estado Civil</strong></label>
                            <select class="form-control" id="SelectTipoEstadoCivil"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Email</strong></label>
                            <input class="form-control" type="text" id="InputEmailEmpleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono 1</strong></label>
                            <input class="form-control" type="text" id="InputTelefono1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono 2</strong></label>
                            <input class="form-control" type="text" id="InputTelefono2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosDatosPersonales()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@*Modal Datos Residencia*@
<div class="modal fade" id="ModalDatosResidenciaEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Información Residencia</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>País</strong></label>
                            <select class="form-control" id="SelectPais" onchange="BuscarDeptoIdPais('N',$('#SelectPais').val())"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Departamento</strong></label>
                            <select class="form-control" id="SelectDepartamento" onchange="BuscarCiudadIdDepartamento('N',$('#SelectDepartamento').val())"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Ciudad</strong></label>
                            <select class="form-control" id="SelectCiudad"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionEmpleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>Tipo Vivienda</strong></label>
                            <select class="form-control" id="SelectTipoVivienda"></select>
                        </td>
                        <td width="25%">
                            <label><strong>Nombre Arrendador</strong></label>
                            <input class="form-control" type="text" id="InputNombreArrendador" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono Arrendador</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoArrendador" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Tiempo Residiendo</strong></label>
                            <input class="form-control" type="text" id="InputTiempoResidiendo" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosDatosResidencia()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@*Modal referencias Familiares*@
<div class="modal fade" id="ModalDatosRFEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Referencias Familiares</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>1. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Parentesco</strong></label>
                            <input class="form-control" type="text" id="InputParentescoRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRF1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRF1Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>2. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Parentesco</strong></label>
                            <input class="form-control" type="text" id="InputParentescoRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRF2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRF2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosRFEmpleado()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@*Modal referencias Personales*@
<div class="modal fade" id="ModalDatosRPEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:98%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Referencias Personales</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless" style="width:100%">
                    <tr>
                        <td width="25%">
                            <label><strong>1. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRP1Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRP1Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <label><strong>2. Nombre y Apellidos</strong></label>
                            <input class="form-control" type="text" id="InputNombreRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Dirección</strong></label>
                            <input class="form-control" type="text" id="InputDireccionRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Teléfono</strong></label>
                            <input class="form-control" type="text" id="InputTelefonoRP2Empleado" name="name" autocomplete="off" />
                        </td>
                        <td width="25%">
                            <label><strong>Profesión</strong></label>
                            <input class="form-control" type="text" id="InputProfesionRP2Empleado" name="name" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosRPEmpleado()"><i class="bi-trash"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CargarDatosHVEmpleado();
        CargarDatosCabeceraEmpleado();
        ListaPais('N');
        ListaDepartamento('N');
        ListaCiudad('N');
        ListaPaisNacionalidad('N');
        ListaTipoGeneroEmpleado('N');
        ListaTipoEstadoCivil('N');
        ListaTipoVivienda('N');
    });
</script>