@{
    ViewBag.Title = "Tipo Estado Civil";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">TIPO ESTADO CIVIL</label>
    <hr />
</div>

<a href="/TipoEstadoCivil/Crear_TipoEstadoCivil" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Tipo Estado Civil</a>
<br />
<br />
<table id="gridTipoEstadoCivil" class="table display" style="width:100%"></table>

@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarTipoEstadoCivil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Tipo Moneda</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdTipoEstadoCivil" hidden></label>
                <label id="MensajeEliminarTipoEstadoCivil"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarTipoEstadoCivil()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridTipoEstadoCivil();
    });
</script>




