@{
    ViewBag.Title = "Empresa";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empresa"><i>MODULO EMPRESA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">EMPRESA</label>
    <hr />
</div>

<a href="/Empresa/Crear_Empresa" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Empresa</a>
<br />
<br />
<div class="grid">
    <table id="gridEmpresa" class="table display" style="width:100%"></table>
</div>


@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarEmpresa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar País</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdEmpresa" hidden></label>
                <label id="MensajeEliminarEmpresa"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarEmpresa()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridEmpresa();
    });
</script>
