@{
    ViewBag.Title = "Modulo Configuración";
}

<h6><a href="/Home/Inicio"><i>Inicio</i></a><i class="bi-chevron-right"></i><label style="font-weight:bold">Modulo Configuración</label></h6>
<hr />

<div id="SubMenuBotones" style="text-align:center"></div>

<script>
    $(document).ready(function () {
        ListaSubMenu('/Modulo_Configuracion');
    });
</script>

