body {
    background-color: white;
    font-size:12px!important;
}

.btnMenu {
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 130px;
    width: 130px;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    padding:20px;

}

.menuBtn {
    text-align:center;
}

.spanMenu {
    font-size: 12px;
    color: black;
    font-weight: bold
}

.stylefontmodulo {
    font-weight: bold;
}

.btn {
    font-size: 12px !important;
}

label{
    font-size:12px!important;
}

.logomenu {
    font-size: 20px;
    font-weight: bolder
}

.fondolayout {
    background-color: #F1F1F1;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.95);
}

.fondolayout1 {
    background-color: #F1F1F1;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.imagenhv {
    height:200px;
    display:block;
    margin:auto;
}

.Centrar-Texto {
    text-align:center;
}

