@{
    ViewBag.Title = "Ciudad";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CIUDAD</label>
    <hr />
</div>

<a href="/Ciudad/Crear_Ciudad" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Ciudad</a>
<br />
<br />
<div class="grid">
    <table id="gridCiudad" class="table display" style="width:100%"></table>
    <button class="btn-light"></button>
</div>


@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarCiudad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Ciudad</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdCiudad" hidden></label>
                <label id="MensajeEliminarCiudad"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarCiudad()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridCiudad();
    });
</script>


