
@{
    ViewBag.Title = "Home";
}

<h6><label class="stylefontmodulo">MODULOS DEL USUARIO</label></h6>
<hr />
<div id="MenuBotones" class="menuBtn"></div>
<script>
    $(document).ready(function () {
        let IdUser = Cookies.get('IdUser');
        if (IdUser == '' || IdUser == undefined || IdUser == null) {
            Swal.fire({
                title: 'Mensaje del Sistema',
                text: "Su Sesión ya expiro, por favor vuelva a Ingresar",
                icon: 'info',
            }).then((result) => {
                window.location.href = '/Login';
            })
        } else {
            ListaMenu();
        }
    });
</script>

