<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCS - @ViewBag.Title</title>
    <!-- #region Library -->
    @*<link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables/datatables.js"></script>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StylesApp/App.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>
    <link href="~/Content/icons-1.10.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Scripts/Sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/Sweetalert2/dist/sweetalert2.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.1/datatables.min.js"></script>
    <!-- #endregion -->
    <!-- #region Scripts App -->
    <script src="~/JsApp/Home.js"></script>
    <script src="~/JsApp/Menu.js"></script>
    <script src="~/JsApp/SubMenu.js"></script>
    <script src="~/JsApp/Pais.js"></script>
    <script src="~/JsApp/Departamento.js"></script>
    <script src="~/JsApp/Ciudad.js"></script>
    <script src="~/JsApp/TipoDocumento.js"></script>
    <script src="~/JsApp/TipoHoraExtra.js"></script>
    <script src="~/JsApp/TipoUnidadMedida.js"></script>
    <!-- #endregion -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fondolayout">
        <div class="container-fluid">
            <a class="navbar-brand logomenu" href="/Home">G C S <label style="font-size:12px">Sistema de Control y Gestión V 1.0</label></a>           
        </div>
    </nav>
    <div class="container body-content" style="margin-top: 20px;">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    @*<script src="~/Scripts/DataTables/datatables.js"></script>*@
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.1/datatables.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        BuscarCookie();
    });
</script>

