<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCS - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>
    <link href="~/Content/icons-1.10.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Scripts/Sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/Sweetalert2/dist/sweetalert2.min.js"></script>

    <script src="~/JsApp/Home.js"></script>
    <script src="~/JsApp/Menu.js"></script>

</head>
<body style="background-color: #f1f3f4">
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        BuscarCookie();
    });
</script>

<style>
    .btnMenu {
        background-color: white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 90px;
        width: 120px;
        border-radius: 0%;
        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    }

    .spanMenu {
        font-size: 12px;
        color: black;
        font-weight: bold
    }
</style>
