
@{
    ViewBag.Title = "Sucursal";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empresa"><i>MODULO EMPRESA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Sucursal"><i>SUCURSAL</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">EDITAR SUCURSAL</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Empresa</strong></label>
            <select class="form-control" id="SelectEEmpresa"></select>
        </td>
        <td>
            <label><strong>Nombre Sucursal</strong></label>
            <input class="form-control" type="text" id="InputENombreSucursal" name="name" autocomplete="off" />
        </td>
        <td>
            <label><strong>Tipo Documento</strong></label>
            <select class="form-control" id="SelectETipoDocumento"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Identificación Sucursal</strong></label>
            <input class="form-control" type="text" id="InputEIdentificacionSucursal" name="name" autocomplete="off" />
        </td>
        <td>
            <label><strong>Email</strong></label>
            <input class="form-control" type="text" id="InputEEmailSucursal" name="name" autocomplete="off" />
        </td>
        <td>
            <label><strong>Teléfono</strong></label>
            <input class="form-control" type="text" id="InputETelefonoSucursal" name="name" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Nombre Contacto</strong></label>
            <input class="form-control" type="text" id="InputEContactoSucursal" name="name" autocomplete="off" />
        </td>
        <td>
            <label><strong>País</strong></label>
            <select class="form-control" id="SelectEPais" onchange="BuscarDeptoIdPais('',$('#SelectEPais').val())"></select>
        </td>
        <td>
            <label><strong>Departamento</strong></label>
            <select class="form-control" id="SelectEDepartamento" onchange="BuscarCiudadIdDepartamento('',$('#SelectEDepartamento').val())"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Ciudad</strong></label>
            <select class="form-control" id="SelectECiudad"></select>
        </td>
        <td>
            <label><strong>Dirección</strong></label>
            <input class="form-control" type="text" id="InputEDireccionSucursal" name="name" autocomplete="off" />
        </td>
        <td>
            <label><strong>Estado</strong></label>
            <select class="form-control" id="SelectEstadoSucursal">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="GuardarCambiosSucursal()">Guardar Cambios</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        CargarDatosSucursal();
        ListaTipoDocumento();
        ListaPais();
        ListaDepartamento();
        ListaCiudad();
        ListaEmpresa();
    });
</script>

