@{
    ViewBag.Title = "Prestamo Empleado";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Empleado"><i>MODULO EMPLEADO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">PRESTAMO EMPLEADO</label>
    <hr />
</div>

<a href="/PrestamoEmpleado/Crear_PrestamoEmpleado" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Prestamo Empleado</a>
<br />
<br />
<table id="gridPrestamoEmpleado" class="table display" style="width:100%"></table>

@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarPrestamoEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Prestamo Empleado</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdPrestamoEmpleado" hidden></label>
                <label id="MensajeEliminarPrestamoEmpleado"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarPrestamoEmpleado()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridPrestamoEmpleado();
    });
</script>

