@{
    ViewBag.Title = "Tipo Hora Extra";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/TipoHoraExtra"><i>TIPO HORA EXTRA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CREAR TIPO HORA EXTRA</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre Tipo Hora Extra</strong></label>
            <input class="form-control" type="text" id="InputNombreTipoHoraExtra" name="name" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearTipoHoraExtra()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>