@{
    ViewBag.Title = "Tipo Hora Extra";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/TipoHoraExtra"><i>TIPO HORA EXTRA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">EDITAR TIPO HORA EXTRA</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre Tipo Hora Extra</strong></label>
            <input class="form-control" type="text" id="InputENombreTipoHoraExtra" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Estado</strong></label>
            <select class="form-control" id="SelectEstadoTipoHoraExtra">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </td>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="GuardarCambiosTipoHoraExtra()">Guardar Cambios</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        CargarDatosTipoHoraExtra();
    });
</script>

