@{
    ViewBag.Title = "Tipo Documento";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/TipoDocumento"><i>TIPO DOCUMENTO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CREAR TIPO DOCUMENTO</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre Tipo Documento</strong></label>
            <input class="form-control" type="text" id="InputNombreTipoDocumento" name="name" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearTipoDocumento()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>