@{
    ViewBag.Title = "Tipo Documento";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">TIPO DOCUMENTO</label>
    <hr />
</div>



<table class="table table-borderless">
    <tr style="min-width:100%">
        <td width="50%"><label><strong>LISTADO DE TIPO DE DOCUMENTOS</strong></label></td>
        <td width="50%"><a href="/TipoDocumento/Crear_TipoDocumento" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Tipo Documento</a></td>
    </tr>
</table>

<table id="gridTipoDocumento" class="table display" style="width:100%"></table>

@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarTipoDocumento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Tipo Documento</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdTipoDocumento" hidden></label>
                <label id="MensajeEliminarTipoDocumento"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarTipoDocumento()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridTipoDocumento();
    });
</script>
