@{
    ViewBag.Title = "Caja Compensación Familiar";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/CajaCompensacionFamiliar"><i>CAJA COMPENSACION FAMILIAR</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">EDITAR CAJA COMPENSACION FAMILIAR</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre Caja Compensación Familiar</strong></label>
            <input class="form-control" type="text" id="InputENombreCajaCompensacionFamiliar" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Estado</strong></label>
            <select class="form-control" id="SelectEstadoCajaCompensacionFamiliar">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </td>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="GuardarCambiosCajaCompensacionFamiliar()">Guardar Cambios</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        CargarDatosCajaCompensacionFamiliar();
    });
</script>



