@{
    ViewBag.Title = "Crear Pais";
}
<hr />
    <h7><a href="/Home/Inicio"><i>Inicio</i></a><i class="bi-chevron-right"></i><a href="/Modulo_Configuracion"><i>Modulo Configuración</i></a><i class="bi-chevron-right"></i><a href="/Pais"><i>País</i></a><i class="bi-chevron-right"></i><label style="font-weight:bold">Crear País</label></h7>

<hr />

<table class="table table-borderless">
    <tr>
        <td>
            <label for="InputEditarNombrePais"><strong>NOMBRE PAÍS</strong></label>
            <input class="form-control" type="text" id="InputNombrePais" name="name" autocomplete="off" autofocus/>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearPais()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>