@{
    ViewBag.Title = "Crear Pais";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo_Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CREAR PAÍS</label>
</h7>

<hr />

<table class="table table-borderless">
    <tr>
        <td>
            <label for="InputEditarNombrePais"><strong>Nombre País</strong></label>
            <input class="form-control" type="text" id="InputNombrePais" name="name" autocomplete="off" autofocus/>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearPais()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>