@{
    ViewBag.Title = "Editar Pais";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo_Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Pais"><i>PAÍS</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">EDITAR PAÍS</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre País</strong></label>
            <input class="form-control" type="text" id="InputEditarNombrePais" autocomplete="off"/>
        </td>
    </tr>
    <tr>
        <td>
            <label><strong>Estado</strong></label>
            <select class="form-control" id="SelectEstadoPais">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
        </td>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="GuardarCambiosPais()">Guardar Cambios</button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        CargarDatosPais();
    });
</script>