
@{
    ViewBag.Title = "País";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo_Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">PAÍS</label>
</div>
    

<hr />

<table class="table table-borderless">
    <tr style="min-width:100%">
        <td width="50%"><label><strong>LISTADO DE PAISES</strong></label></td>
        <td width="50%"><a href="/Pais/Crear_Pais" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear País</a></td>
    </tr>
</table>


<div class="fondogrid">
    <div class="grid">
        <table id="gridPais" class="table"></table>
    </div>
</div>

@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar País</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdPais" hidden></label>
                <label id="MensajeEliminarPais"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarPais()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalcrearPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>CREAR PAÍS</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Nombre País</span>
                <input class="form-control" type="text" id="InputNombrePais" name="name" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="CrearPais()"><i class="bi-upload"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditarPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>EDITAR PAÍS</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>                        
                        <td>
                            <label id="IdEPais" hidden></label>
                            <label for="InputENombrePais"><strong>NOMBRE PAÍS</strong></label>
                            <input class="form-control" type="text" id="InputENombrePais" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="SelectEstadoPais"><strong>ESTADO</strong></label>
                            <select class="form-control" id="SelectEstadoPais">
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="GuardarCambiosPais()"><i class="bi-upload"></i> Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridPais();
    });
</script>

