@{
    ViewBag.Title = "Crear Tipo Unidad Medida";
}

<h7>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Configuracion"><i>MODULO CONFIGURACIÓN</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/TipoUnidadMedida"><i>TIPO UNIDAD MEDIDA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CREAR TIPO UNIDAD MEDIDA</label>
    <hr />
</h7>

<table class="table table-borderless">
    <tr>
        <td>
            <label><strong>Nombre Tipo Unidad Medida</strong></label>
            <input class="form-control" type="text" id="InputNombreTipoUnidadMedida" name="name" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-success btn-sm" onclick="CrearTipoUnidadMedida()"><i class="bi-upload"></i> Guardar</button>
        </td>
    </tr>
</table>

