
@{
    ViewBag.Title = "Contratista";
}
<div>
    <a href="/Home"><i>INICIO</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <a href="/Modulo/Contratista"><i>MODULO CONTRATISTA</i></a>
    &nbsp;<i class="bi-chevron-right"></i>&nbsp;
    <label style="font-weight:bold">CONTRATISTA</label>
    <hr />
</div>

<a href="/Contratista/Crear_Contratista" class="btn btn-success btn-sm" title="Agregar un nuevo Registro" style="float:right">Crear Contratista</a>
<br />
<br />
<table id="gridContratista" class="table display" style="width:100%"></table>

@*Modal Eliminar*@
<div class="modal fade" id="ModalEliminarContratista" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><strong>Eliminar Contratista</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="IdContratista" hidden></label>
                <label id="MensajeEliminarContratista"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarContratista()"><i class="bi-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GridContratista();
    });
</script>
